<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Customer search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idCustomer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idCustomer}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idCustomer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idCustomer" data-fieldname="idCustomer" >


	<label class="r-search-label control-label" for="{$labelfor_idCustomer}">
		{$label Customer idCustomer }	</label>
	<div class="r-search-option">
		{$searchtype_idCustomer}
	</div>
	<div class="r-search-field">
		{$idCustomer_editcontrol}	</div>
	<div class="r-search-field">
		{$idCustomer_editcontrol1}
	</div>
	
</div>

{END idCustomer_fieldblock}
											
{BEGIN Name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Name" data-fieldname="Name" >


	<label class="r-search-label control-label" for="{$labelfor_Name}">
		{$label Customer Name }	</label>
	<div class="r-search-option">
		{$searchtype_Name}
	</div>
	<div class="r-search-field">
		{$Name_editcontrol}	</div>
	<div class="r-search-field">
		{$Name_editcontrol1}
	</div>
	
</div>

{END Name_fieldblock}
											
{BEGIN Address_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Address}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Address{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Address" data-fieldname="Address" >


	<label class="r-search-label control-label" for="{$labelfor_Address}">
		{$label Customer Address }	</label>
	<div class="r-search-option">
		{$searchtype_Address}
	</div>
	<div class="r-search-field">
		{$Address_editcontrol}	</div>
	<div class="r-search-field">
		{$Address_editcontrol1}
	</div>
	
</div>

{END Address_fieldblock}
											
{BEGIN Phone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Phone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Phone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Phone" data-fieldname="Phone" >


	<label class="r-search-label control-label" for="{$labelfor_Phone}">
		{$label Customer Phone }	</label>
	<div class="r-search-option">
		{$searchtype_Phone}
	</div>
	<div class="r-search-field">
		{$Phone_editcontrol}	</div>
	<div class="r-search-field">
		{$Phone_editcontrol1}
	</div>
	
</div>

{END Phone_fieldblock}
											
{BEGIN Type_Of_Customer_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Type_Of_Customer}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Type_Of_Customer{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Type_Of_Customer" data-fieldname="Type_Of_Customer" >


	<label class="r-search-label control-label" for="{$labelfor_Type_Of_Customer}">
		{$label Customer Type_Of_Customer }	</label>
	<div class="r-search-option">
		{$searchtype_Type_Of_Customer}
	</div>
	<div class="r-search-field">
		{$Type_Of_Customer_editcontrol}	</div>
	<div class="r-search-field">
		{$Type_Of_Customer_editcontrol1}
	</div>
	
</div>

{END Type_Of_Customer_fieldblock}
											
{BEGIN Balance_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Balance}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Balance{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Balance" data-fieldname="Balance" >


	<label class="r-search-label control-label" for="{$labelfor_Balance}">
		{$label Customer Balance }	</label>
	<div class="r-search-option">
		{$searchtype_Balance}
	</div>
	<div class="r-search-field">
		{$Balance_editcontrol}	</div>
	<div class="r-search-field">
		{$Balance_editcontrol1}
	</div>
	
</div>

{END Balance_fieldblock}
											
{BEGIN Notes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Notes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Notes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Notes" data-fieldname="Notes" >


	<label class="r-search-label control-label" for="{$labelfor_Notes}">
		{$label Customer Notes }	</label>
	<div class="r-search-option">
		{$searchtype_Notes}
	</div>
	<div class="r-search-field">
		{$Notes_editcontrol}	</div>
	<div class="r-search-field">
		{$Notes_editcontrol1}
	</div>
	
</div>

{END Notes_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
