<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Sent search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idTransactions_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idTransactions}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idTransactions{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idTransactions" data-fieldname="idTransactions" >


	<label class="r-search-label control-label" for="{$labelfor_idTransactions}">
		{$label Sent idTransactions }	</label>
	<div class="r-search-option">
		{$searchtype_idTransactions}
	</div>
	<div class="r-search-field">
		{$idTransactions_editcontrol}	</div>
	<div class="r-search-field">
		{$idTransactions_editcontrol1}
	</div>
	
</div>

{END idTransactions_fieldblock}
											
{BEGIN Transaction_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Transaction_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Transaction_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Transaction_date" data-fieldname="Transaction_date" >


	<label class="r-search-label control-label" for="{$labelfor_Transaction_date}">
		{$label Sent Transaction_date }	</label>
	<div class="r-search-option">
		{$searchtype_Transaction_date}
	</div>
	<div class="r-search-field">
		{$Transaction_date_editcontrol}	</div>
	<div class="r-search-field">
		{$Transaction_date_editcontrol1}
	</div>
	
</div>

{END Transaction_date_fieldblock}
											
{BEGIN From_Account_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_From_Account}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="From_Account{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="From_Account" data-fieldname="From_Account" >


	<label class="r-search-label control-label" for="{$labelfor_From_Account}">
		{$label Sent From_Account }	</label>
	<div class="r-search-option">
		{$searchtype_From_Account}
	</div>
	<div class="r-search-field">
		{$From_Account_editcontrol}	</div>
	<div class="r-search-field">
		{$From_Account_editcontrol1}
	</div>
	
</div>

{END From_Account_fieldblock}
											
{BEGIN To_Account_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_To_Account}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="To_Account{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="To_Account" data-fieldname="To_Account" >


	<label class="r-search-label control-label" for="{$labelfor_To_Account}">
		{$label Sent To_Account }	</label>
	<div class="r-search-option">
		{$searchtype_To_Account}
	</div>
	<div class="r-search-field">
		{$To_Account_editcontrol}	</div>
	<div class="r-search-field">
		{$To_Account_editcontrol1}
	</div>
	
</div>

{END To_Account_fieldblock}
											
{BEGIN Amount___fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Amount__}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Amount__{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Amount__" data-fieldname="Amount_$" >


	<label class="r-search-label control-label" for="{$labelfor_Amount__}">
		{$label Sent Amount__ }	</label>
	<div class="r-search-option">
		{$searchtype_Amount__}
	</div>
	<div class="r-search-field">
		{$Amount___editcontrol}	</div>
	<div class="r-search-field">
		{$Amount___editcontrol1}
	</div>
	
</div>

{END Amount___fieldblock}
											
{BEGIN Amount_TL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Amount_TL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Amount_TL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Amount_TL" data-fieldname="Amount_TL" >


	<label class="r-search-label control-label" for="{$labelfor_Amount_TL}">
		{$label Sent Amount_TL }	</label>
	<div class="r-search-option">
		{$searchtype_Amount_TL}
	</div>
	<div class="r-search-field">
		{$Amount_TL_editcontrol}	</div>
	<div class="r-search-field">
		{$Amount_TL_editcontrol1}
	</div>
	
</div>

{END Amount_TL_fieldblock}
											
{BEGIN Notes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Notes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Notes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="Notes" data-fieldname="Notes" >


	<label class="r-search-label control-label" for="{$labelfor_Notes}">
		{$label Sent Notes }	</label>
	<div class="r-search-option">
		{$searchtype_Notes}
	</div>
	<div class="r-search-field">
		{$Notes_editcontrol}	</div>
	<div class="r-search-field">
		{$Notes_editcontrol1}
	</div>
	
</div>

{END Notes_fieldblock}
											
{BEGIN Order_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Order_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Order_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Order_ID" data-fieldname="Order_ID" >


	<label class="r-search-label control-label" for="{$labelfor_Order_ID}">
		{$label Sent Order_ID }	</label>
	<div class="r-search-option">
		{$searchtype_Order_ID}
	</div>
	<div class="r-search-field">
		{$Order_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$Order_ID_editcontrol1}
	</div>
	
</div>

{END Order_ID_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
